@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

h2 {
  color: #4a4a4a;
  line-height: 1.4;
  font-weight: 500;
}

.bg-white {
  background-color: #f2f3f9 !important;
}

.main_div {
  background-color: #ffffff;
  border-radius: 1rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  padding: 1rem 1.5rem;
}

.cursor-pointer {
    cursor: pointer;
}

input {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
    color: white !important;
}